<ion-header>
  <ion-toolbar>
    <ion-title>Total à pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label>
        Entrada: ####
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Saida: ####
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Total: $####
      </ion-label>
    </ion-item>

    <ion-button color="dark" size="small" expand="block" href="/novo-pagamento">Realizar pagamento</ion-button>
  </div>
</ion-content>