<ion-header>
  <ion-toolbar>
    <ion-title>
      Pagar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label>Entrada</ion-label>
    <ion-datetime [(ngModel)]="pagamento.entrada" display-format="HH:mm"></ion-datetime>
    <ion-label>Saida</ion-label>
    <ion-datetime [(ngModel)]="pagamento.saida" display-format="HH:mm"></ion-datetime>
    <ion-label>Total</ion-label>
    <ion-input [(ngModel)]="pagamento.reais" value="R$ 0,00" disabled></ion-input>
    <ion-button type="button" (click)="Calcular()" class="btn btn-primary">Calcular</ion-button>
    <ion-button type="button" (click)="addIdea()" class="btn btn-primary">Pagar</ion-button>
</ion-content>
